.info {
    float: right;
    display: block;
    border: 1px dotted #600;
    padding: 2px 4px;
    margin: 2px 0px 2px 1em;
    font-size:10px;
    color: #600;
    background-color: #fee;
    font-weight: normal !important;
}
.info::after {
    clear:both;
}
.govuk-inset-text {
    margin-top: -10px !important;
}

.greybox {
    padding:0.5em !important;
    background-color: #f0f0f0;
}